/* BASE */
html {
  min-height: 100%;
  background: repeating-linear-gradient(
    45deg,
    #262626,
    #262626 20px,
    #252525 20px,
    #252525 40px
  );
}
body {
  min-height: 100%;
}
body,
body p,
body a {
  font-family: "Lato", sans-serif;
  color: #444;
}
.wrap {
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 36rem;
}

/* HEADER */
header.header {
  float: left;
  width: 100%;
  clear: both;
  margin-bottom: 3rem;
}
header.header h1 {
  float: left;
  font-weight: 900;
  letter-spacing: -4px;
  font-size: 4rem;
  font-family: "Lato", sans-serif;
  margin: 0;
}
header.header h1 span.titulo-1 {
  color: #ccc;
}
header.header h1 span.titulo-2 {
  color: #888;
}
a.social {
  margin-left: 1rem;
  display: inline-block;
  border-radius: 1px;
  padding: 0 1rem;
  border-radius: 3rem;
}
a.social.twitter {
  margin-left: 0;
}
a.social:hover {
  background: #fff;
}
.social img {
  width: 2.6rem;
}
span.box {
  display: inline-block;
}
/* PROJECTS */
#projects {
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -2rem;
}
#projects article {
  margin-bottom: 3rem;
  width: 100%;
  padding-left: 2rem;
  box-sizing: border-box;
}
#projects article h2 {
  color: #bbb;
  font-size: 2rem;
  letter-spacing: -2px;
  font-weight: 900;
  margin: 0;
}
#projects article p {
  margin: 0;
  font-weight: 700;
  color: #999;
  font-size: 1.5rem;
  letter-spacing: -1px;
}
#projects article a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #666;
  border-bottom: 0.15rem dotted;
  margin: 0;
}
#projects article a:hover {
  color: #ddd;
}
