/* BASE */
body,
body p,
body a {
  font-family: 'Lato', sans-serif;
  color: #444;
}
body {
  background: #282828;
}
/* HEADER */
header.header {
  margin-bottom: 4rem;
}
header.header h1 {
  font-weight: 900;
  font-size: 2.6em;
  letter-spacing: -2px;
  font-family: 'Lato', sans-serif;
}
header.header h1 span.titulo-1 {
  color: #ccc;
}
header.header h1 span.titulo-2 {
  color: #888;
}
.social {
  margin: 4.3em 0;
  text-align: right;
}
.social a.twitter {
  margin-left: 1em;
}
/* PROJECTS */
#projects article {
  border-left: 3px solid #444;
  padding-left: 1rem;
  margin-bottom: 3rem;
}
#projects article h1 {
  color: #aaa;
}
#projects article p {
  color: #888;
}
#projects article a {
  text-decoration: none;
  font-weight: 700;
  color: #666;
}
#projects article p a:hover {
  text-decoration: underline;
}
