/* BASE */
body,
body p,
body a {
  font-family: 'Lato', sans-serif;
  color: #444;
}
body {
  background: #282828;
}
/* HEADER */
header.header {
  float: left;
  width: 100%;
}
header.header h1 {
  float: left;
  font-weight: 900;
  font-size: 2.6em;
  letter-spacing: -2px;
  font-family: 'Lato', sans-serif;
}
header.header h1 span.titulo-1 {
  color: #ccc;
}
header.header h1 span.titulo-2 {
  color: #888;
}
.social {
  margin-left: 1rem;
}
/* PROJECTS */
header.header, #projects article {
  padding-left: 3rem;
  margin-bottom: 3rem;
  box-sizing: border-box;
}
#projects article h1 {
  color: #aaa;
}
#projects article p {
  color: #888;
}
#projects article a {
  text-decoration: none;
  font-weight: 700;
  color: #666;
}
#projects article p a:hover {
  text-decoration: underline;
}
